body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{

    width: 100%;
    margin: 0;
    padding: 0;
    /* background: url(images/my-bg.png);
    background-image: url(images/my-bg.png); */
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
}
.left-colum{

    width: 50%;
    float: left;
}
.right-colum{
    width: 50%;
    float: left;
}
.left-item{

    padding: 300px 20px 100px 80px;
}
.right-item{

    padding: 50px;
}
img{
    max-width: 800px;
    max-height: 800px;
}
.purple-color{

    color: red;
}
h1 {

    font-size: 42px;
    margin-top: 50px;
    /* padding-left: 20px; */
    

}
h3 {
    margin-top: 30px;
    /* padding-left: 20px; */

}

p{
    margin-top: 30px;
    /* padding-left: 20px; */
}
a{

    text-decoration: none;
    font-size: 24px;
    padding: 15px ;
    color: white;
}
.right-item{
    padding: 100px;
}
button{

    background-color: tomato;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 0px;
    
}
button:hover{

    background-color: black;
    color: blanchedalmond;
    padding: 15px 20px;
    transition:500ms;
}
button a :hover{

    
    color: blanchedalmond;
}

.job-section{

    width: 100%;
    height: 600px;
    background-color: thistle;

}
/* .left-item{

    padding: 40px 100px;
    margin: 200px 0;
    box-sizing: border-box;
    width: 40%;
    float: left;
}
.right-item{
    padding: 0px 0px;
    margin: 30px 0;
    box-sizing: border-box;
    width: 40%;
    float: right;
}

.half-width{

    width: 50%;
    float: left;
}
h1 {

    font-size: 42px;
    margin-top: 50px;
    

}
h3 {

}

p{

}
a{

    text-decoration: none;
    font-size: 24px;
    padding: 15px ;
}


img .img-alaign{

    width: 400px;
    height: 400px;
}
button{
    background-color: lightsalmon;
    border-radius: 5px;

}
button:hover{

    background-color: black;
    color: blanchedalmond;
}
button a :hover{

    
    color: blanchedalmond;
} */