body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{

    width: 80%;
    margin: 0;
    padding: 0;
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: center;
}
.left-item{

    padding: 40px 100px;
    margin: 200px 0;
    box-sizing: border-box;
    width: 40%;
    float: left;
}
.right-item{
    padding: 0px 0px;
    margin: 30px 0;
    box-sizing: border-box;
    width: 40%;
    float: right;
}

.half-width{

    width: 50%;
    float: left;
}
h1 {

    font-size: 42px;
    margin-top: 50px;
    

}
h3 {

}

p{

}
a{

    text-decoration: none;
    font-size: 24px;
    padding: 15px ;
}


img .img-alaign{

    width: 400px;
    height: 400px;
}
button{
    background-color: lightsalmon;

}